/* Neighborhood Tool Shed Styles */

	body {
		font-size: 130%;
	}

	.content {
		margin: 2em;
		text-align: center;
	}

/* region bootstrap defaults */
	.navbar {
		min-height: 4em;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.btn-default {
		background-color: #cce5ff;
		border-radius: .2em;
		color: black;
	}

	.btn-default:hover {
		background-color: #ccccff;
	}

	.navbar-brand {
		padding: .8em;
		height: auto;
	}

	.navbar-toggle {
		margin-top: .5em;
		margin-bottom: .35em;
	}


	/* Desktop mode navBar */
	@media (min-width: 768px) {
		.logo {
			font: 1.5em Arial;
			font-weight: bold;
			color: #3d3d29;
		}

		.navbar {
			min-height: 4em;
			border-radius-top-left: 0px;
			border-radius-top-right: 0px;
		}

		.navbar-brand {
			padding: .8em;
			height: auto;
		}

		.navbar-toggle {
			margin-top: .5em;
			margin-bottom: .35em;
		}

		.navbar-nav>li>a {
			font: 1em Arial;
			padding: 1.6em 1.3em 0 1.3em;
			font-weight: bold;
		}
			.navbar-nav>li>a:hover{
				color: #5c5c3d;
			}
	}




/* endregion */

/* region NavBar */

	.logo {
		font: 1.2em Arial;
		font-weight: bold;
		color: #3d3d29;
	}

	.logo:hover {
		color: #5c5c3d;
	}
	
	.neighborNav {
		max-width: 1200px;
	}

	.navbar-nav>li>a {
		font: 1.1em Arial;
		font-weight: bold;
	}

	.navbar-nav>li>a:hover{
		color: #5c5c3d;
	}
/* endRegion */


/* region Dashboard */

	.dashboard {
		font-size: 1.5em;
	}

	.addTool {
		margin-left: .2em;
		font-size: 1.35em;
		font-weight: bold;
		width: 10px;
		padding: 0 .2em 0 .2em;
	}

		.addTool:hover {
			cursor: pointer;
			color: #A6A6A6;
		}
	
	.emptySpace {
		width:10px;
		margin-left: .2em;
		padding: 0 .2em 0 .2em;
	}
		
	.btnGo {
		margin-top: 20px;
	}

/* endRegion */

/* region SearchResults */
#searchResults {
	list-style: none;
    margin: 0px;
    padding: 20px;
    /*height: 20px;*/
    /*overflow: auto;*/
}

.toolSelect {
		max-width: 800px;
		margin:auto;
}

.toolGenus {
	font-weight: bold;
	font-size: 3em;
	text-align: left;
	clear: left;
}

.toolSpecies {
	background-color: #adad85;
	border: 3px solid #999966;
	border-radius:.25em;
	font-size: 2em;
	padding: 0 .75em 0 .75em;
	display: inline-block;
	float: left;
	margin-right:.75em;
	margin-bottom: .5em;
}

	.toolSpecies:hover {
		background-color: #ccccb3;
		cursor: pointer;
	}

.btnSearch {
	font-size: 1.5em;
	margin-bottom: .25em;
}

.btnBack {
	float: right;
	font-size: 1.5em;
}
	
h3{
	clear: left;
}

.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 		
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	100% {
		-webkit-transform: scaleX(1);
	}				
}


/* endRegion */


#profileImg {
	
	border: 2px solid gray;
}

#profileInfo {
	font-size: 130%;
}

#userTools {
	align:center;
	font-size: 130%;
}

#userTools ul {
	list-style-type: none;
}

#userTools ol {
	list-style-type: none;
}

#userTools header {
	border: 2px solid gray;
}

#userTools ul li{
	border: .5px solid gray;
	border-radius=50px;
	background-color: #ADD8E6;
	list-style-image: none;
	width:200px;
	padding: 10px;
	align-items:center;
	
}

/* http://www.menucool.com/jquery-slider */

#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width:100%;
    max-width:900px;
    padding:0;
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {    
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:0;
    margin:0;
}
 
#thumbnail-slider div.inner ul {    
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    margin-top:20px;
    margin-bottom:90px;
    margin-left:-30px; margin-right:-30px; /* Spacing between thumbs*/
    -webkit-transform:scale(0.9);
    transform:scale(0.9); /*Note: The scale down will increase the spacing between slides. You can set negative margins as did above to roll back the spacing. */
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
    
	/*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
    
}

#thumbnail-slider ul li.active {
    -webkit-transform:scale(1.15); 
    transform:scale(1.15); /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
    background-color:transparent;
    
	/*-webkit-filter: initial;
	filter: initial;*/
}

#thumbnail-slider .thumb {
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
    cursor:inherit;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
    transition:all linear 0.4s;
}


/*-- Start 3D --*/
    #thumbnail-slider ul li .thumb {
        -webkit-transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
        transform: perspective(500px) translateX(1px) translateZ(-30px) rotateY(30deg);
    }
    #thumbnail-slider ul li.active .thumb {
        -webkit-transform: perspective(0px)  translateX(0px)translateZ(0px) rotateY(0deg); 
        transform: perspective(0px)  translateX(0px)translateZ(0px) rotateY(0deg); 
    }
    #thumbnail-slider ul li.active ~ li .thumb {
        -webkit-transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
        transform: perspective(500px) translateX(-1px) translateZ(-30px) rotateY(-30deg); 
    }
/*-- End 3D --*/

/* --------- navigation controls ------- */   
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}	

