/* Neighborhood Tool Shed Styles */

	body {
		font-size: 130%;
	}

	.content {
		margin: 2em;
		text-align: center;
	}

/* region bootstrap defaults */
	.navbar {
		min-height: 4em;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.btn-default {
		background-color: #cce5ff;
		border-radius: .2em;
		color: black;
	}

	.btn-default:hover {
		background-color: #ccccff;
	}

	.navbar-brand {
		padding: .8em;
		height: auto;
	}

	.navbar-toggle {
		margin-top: .5em;
		margin-bottom: .35em;
	}


	/* Desktop mode navBar */
	@media (min-width: 768px) {
		.logo {
			font-size: 1.5em;
			color: #cce5ff;
		}

		.navbar {
			min-height: 4em;
			border-radius-top-left: 0px;
			border-radius-top-right: 0px;
		}

		.navbar-brand {
			padding: .8em;
			height: auto;
		}

		.navbar-toggle {
			margin-top: .5em;
			margin-bottom: .35em;
		}

		.navbar-nav>li>a {
			padding: 1.6em 1.3em 0 1.3em;
		}
	}




/* endregion */

/* region NavBar */

	.logo {
		font-size: 1.2em;
		color: #cce5ff;
	}

	.logo:hover {
		color: #ccccff;
	}

/* endRegion */


/* region Dashboard */

	.dashboard {
		font-size: 1.5em;
	}

	.addTool {
		margin-left: .2em;
		font-size: 1.35em;
		font-weight: bold;
		padding: 0 .2em 0 .2em;
	}

		.addTool:hover {
			cursor: pointer;
			color: #A6A6A6;
		}

	.btnGo {
		margin-top: 20px;
	}

/* endRegion */

/* region SearchResults */
#searchResults {
		list-style: none;
    margin: 0px;
    padding: 20px;
    /*height: 20px;*/
    /*overflow: auto;*/
}


/* endRegion */
