<head>
</head>

<body>
	
	<div id="profileInfo">
		<div style="width: 100%">
			<div id="nameHeader">
				{{userData.name}}
			</div>
			<input id="btnEditProfile" type="button" class="btn-default" ng-click="setEditMode(true)" value="Edit Info"></button></br>
		</div>
		<div id="leftProfileInfo" ng-if="showProfileInfo()">
			<img id="profileImg" src={{userData.profileImg}} />
		</div>
		<div id="rightProfileInfo">
			<table id="infoTable">
				<tr>
					<td><strong>Email:</strong></td>
					<td>{{userData.email}} </td>
				</tr>
				<tr>
					<td valign="top" colspan="2"><strong>Location:</strong>
					<br/><map mapid="usersmap" mapmarkers="usermarkers" style="height:275px;width:530px;" options="mapOptions"/></td>
				</tr>
			</table>
		</div>
		<div id="bottomProfileInfo">
		</div>
	</div>
	</br>

	<div id="profileInfo" ng-if="showEditProfileInfo()">
		<strong> Name:</strong><input type="text" ng-Model="userData.name"/></br>
		<strong> Address:</strong><input type="text" ng-Model="userData.address"/></br>
		<strong> Preferred Contact Information:</strong><input type="text" ng-Model="userData.preferredContactInfo"/></br>
		<input type="button" class="btn-default" ng-click="setEditMode(false)" value="Finished"></input></br>
	</div>

	<div id="toolList" ng-Hide="updateMode" style="border: 1px solid gray">
	<h2>User Tool List</h2>
		<div ng-repeat="gTool in ownedTools">
			<p ng-repeat="sTool in gTool.speciesTools"><strong> {{gTool.genusTool + " " + sTool}} </strong></p>
		</div>
	</div>

	<div id="userTools">
		<input type="button" class="btn-default" ng-click="updateToolButton()" value="Update Tool List"></input>
		<div>
			<ol ng-repeat="gTool in allProgramTools" ng-if="displayProgramTools">
				<li>
					<header ng-click="setClickOnTools(gTool)"> {{gTool.genusTool}}</header>
					<ul ng-repeat="sTool in gTool.speciesTools">
						<li ng-if="gTool.clicked">
							<input type="checkbox" ng-change="updateTool(gTool, sTool)" ng-model="checkedTools" ng-init="checkedTools=isToolOwnedBoolean(gTool,sTool)" />{{sTool}} </br>
						</li>
					</ul>
				</li>
			</ol>
			</br>
			<button ng-click="endAddTool()" ng-if="displayDoneButton"> Done </button>
		</div>
	</div>
	 <div class="contactsRoulette" style="padding:120px 0;">
        <div id="thumbnail-slider">
            <div class="inner">
                <ul>
                    <li>
                        <a class="thumb" href="http://www.gfxtr.net/uploads/posts/2015-12/1449215414_shutterstock_336179585-.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="http://vignette4.wikia.nocookie.net/lego/images/b/b7/Gail_The_Construction_Worker.jpg/revision/latest?cb=20140114225415"></a>
                    </li>
                    <li>
                        <a class="thumb" href="https://upload.wikimedia.org/wikipedia/commons/c/c7/Jordan_Oregno_construction_worker.JPG"></a>
                    </li>
                    <li>
                        <a class="thumb" href="http://vignette1.wikia.nocookie.net/dogpics/images/3/3d/Cute-dog-construction-worker.jpg/revision/latest?cb=20140116212124"></a>
                    </li>
                    <li>
                        <a class="thumb" href="http://vignette1.wikia.nocookie.net/spongebob/images/a/a9/Patrick_Construction_Worker.jpg/revision/latest?cb=20140426130938"></a>
                    </li>
                    <li>
                        <a class="thumb" href="http://thumbs.dreamstime.com/z/female-construction-worker-18504586.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="https://upload.wikimedia.org/wikipedia/en/9/90/Bale_as_Batman.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end-->
</body>
