<div class="ToolSelect">

	<h2>Select all specific tool types that you want to search</h2>

	<span ng-repeat="tool in queryResults | filter:matchesQueries">
		<div ng-if="isFirstGenus(tool)" class="toolGenus">{{tool.genus}}</div>
		<div class="toolSpecies" ng-click="checkChange(tool)">
			{{tool.species}}
			<span ng-if="tool.checked" class="stretchRight glyphicon glyphicon-ok"></span>
		</div>
	</span>

	<div style="clear:left">
		<input type="button" class="btnSearch btn-default" ng-click="searchSelected()" value="Search Selected"/>

		 - or -

		<input type="button" class="btnSearch btn-default" ng-click="searchAll()" value="Search All"/>

		<br/>
		<input type="button"  class="btnBack btn-default" ng-click="goBack()" value="Back"></input>
	</div>

</div>
