<!-- <h1>Available Tools</h1>

<ul id="searchResults">
  <li ng-repeat="user in usersToDisplay">
    <strong>
        {{user.name}}
      </strong> {{user | json}}
  </li>
</ul> -->
<div class="container">     
    <div class="centered-block">      
        <div ng-if="loaded">
			<div class="map-selector-header">
				Users with:
				<div class="map-selectors">
					<div class="selector-button selected-item">All Tools</div><div class="selector-button">Cordless (Drill)</div><div class="selector-button">Buggy Bar (Crowbar)</div>
				</div>
			</div>
			<map mapid="usersmap" mapmarkers="usermarkers" style="height:500px;width:800px;" options="mapOptions"/>
		</div>
    </div> 
</div>
