<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Neighborhood Toolshed</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?extension=.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/ntcss.css">

		<script>
			var app = angular.module('neighborToolApp', ['ngRoute', 'firebase']);

			app.config(function($routeProvider) {
				$routeProvider
					.when('/', {
						templateUrl: '/views/dashboard.html',
						controller: 'dashboardCtrl',
						caseInsensitiveMatch: true
					})
					.when('/login', {
						templateUrl: '/views/login.html',
						controller: 'loginController',
						caseInsensitiveMatch: true
					})
					.when('/SearchCriteria', {
						templateUrl: '/views/searchCriteria.html',
						controller: 'searchCriteriaCtrl',
						caseInsensitiveMatch: true
					})
					.when('/Sandboxes', {
						templateUrl: '/views/sandboxes.html',
						caseInsensitiveMatch: true
					})
					.when('/Sandboxes/monson', {
						templateUrl: '/views/sandboxes/monson.html',
						controller: 'monsonCtrl',
						caseInsensitiveMatch: true
					})
					.when('/Sandboxes/cloward', {
						templateUrl: '/views/sandboxes/cloward.html',
						controller: 'clowardCtrl',
						caseInsensitiveMatch: true
					})
					.when('/Sandboxes/dtb', {
						templateUrl: '/views/sandboxes/dtb.html',
						controller: 'dtbCtrl',
						caseInsensitiveMatch: true
					})
					.when('/Profile', {
						templateUrl: '/views/profile.html',
						controller: 'profileCtrl',
						caseInsensitiveMatch: true
					})
					.when('/Users', {
						templateUrl: '/views/users.html',
						controller: 'usersCtrl',
						caseInsensitiveMatch: true
					})
					.when('/SavedContacts', {
						templateUrl: '/views/savedContacts.html',
						controller: 'savedContactsCtrl',
						caseInsensitiveMatch: true
					})
					.otherwise({
						redirectTo: '/'
					})
			});
			
			app.service('loginServices', function() {
				var loginServices = {};
				
				loginServices.loginFacebook = function(cb) {
					var ref = new Firebase("https://amber-torch-1283.firebaseio.com/");
				    var users = ref.child("users");
					
					var location = {};
					if (navigator.geolocation) {
					  navigator.geolocation.getCurrentPosition(showPosition);
					} else {

					}
					function showPosition(position){
					  location =  {"latitude": position.coords.latitude, "longitude":position.coords.longitude };
					  //TODO reverse geocoding
					  // https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse
					}

					ref.authWithOAuthPopup("facebook", function(error, authData) {
						var updateObj = {}
						updateObj[authData.uid + "/name"] = authData.facebook.displayName;
						updateObj[authData.uid + "/email"] = authData.facebook.email;
						updateObj[authData.uid + "/location"] = location;
						//Use update so we don't destroy data we're not mentioning.
						users.update(updateObj);

						window.localStorage.name = authData.facebook.displayName;
						window.localStorage.email = authData.facebook.email;
						window.localStorage.location = JSON.stringify(location);
						window.localStorage.lastActiveTime = new Date();
						var scope = angular.element($("#mainNav")).scope();
						scope.$apply();
						cb();
					},{
						remember: "default",
						scope: "email,user_likes"
					});				
				}
				
				return loginServices;
			});

			
			app.controller("navCtrl", ['$scope', 'loginServices', function($scope, loginServices) {
				$scope.loggedIn = function()  {
					var oneDayOld = new Date();
					oneDayOld.setDate(oneDayOld.getDate() - 1);
					if(!window.localStorage.name || window.localStorage.lastActiveTime < oneDayOld){
						window.localStorage.name = "";
						window.localStorage.email = "";
						window.lastActiveTime = "";
						window.localStorage.location = {};
						return false;
					}
					else {
						window.lastActiveTime = new Date();
						return true;
					}
				}

				$scope.logout = function() {
					window.localStorage.name = "";
					window.localStorage.email = "";
					window.lastActiveTime = "";
					window.localStorage.location = {};					
				}
				
				$scope.loginFacebook = function() {
					loginServices.loginFacebook(function() {
						$scope.$apply();
					});
				}
				
 			}]);			
		</script>

		<!-- Page Controllers -->
		<script src="controllers/dashboardCtrl.js"></script>
		<script src="controllers/profileCtrl.js"></script>
		<script src="controllers/usersCtrl.js"></script>
		<script src="controllers/savedContactsCtrl.js"></script>
		<script src="controllers/searchCriteriaCtrl.js"></script>
		<script src="controllers/loginController.js"></script>


		<!-- sandbox controllers added like this -->
		<script src="views/sandboxes/controllers/monsonCtrl.js"></script>
		<script src="views/sandboxes/controllers/clowardCtrl.js"></script>
		<script src="views/sandboxes/controllers/dtbCtrl.js"></script>

		<!-- directives -->
		<script src="directives/mapCtrl.js"></script>

	</head>

	<body ng-app="neighborToolApp">
		<nav id="mainNav" ng-controller="navCtrl" class="navbar navbar-default">
			<div class="neighborNav container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/">
						<span class="logo">
							Neighborhood Tool Shed
						</span>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--					<ul class="nav navbar-nav">
					<li><a href="#profile">Profile</a></li>
						<li><a href="#savedContacts">Saved Contacts Test</a></li>
						<li><a href="#sandboxes">Sandboxes</a></li>
					</ul>-->
					<ul ng-if="!loggedIn()" class="nav navbar-nav navbar-right">
						<li><a style="padding: 15px" href="#login">Login</a></li>
						<li><img class="navLoginIcon" src="../includes/icons/facebookIco.png" title="Authenticate via Facebook" ng-click="loginFacebook()"/></li>
						<li><img class="navLoginIcon" src="../includes/icons/googleIco.png" title="Authenticate via Google+"/></li>
						<li><img class="navLoginIcon" src="../includes/icons/githubIco.png" title="Authenticate via Github"/></li>
					</ul>
					<ul ng-if="loggedIn()" class="nav navbar-nav navbar-right">
						<li><a style="padding: 15px" href="#profile">Profile</a></li>
						<li><a style="padding: 15px" href="#/" ng-click="logout()">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div ng-view class="content">
			<!-- CONTENT OF THE CURRENT PAGE GETS LOADED HERE -->
		</div>
	</body>
</html>
